@model Silverline.Core.ViewModels.TestCartViewModel;

@{
    ViewData["Title"] = "Order Summary";
}

<form method="post">
    <div class="container pt-5">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 60%">
                <div class="card-header bg-dark text-light ml-0">
                    <div class="row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="d-flex justify-content-center w-100">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @foreach (var item in Model.TestCartList)
                                        {
                                            <input asp-for="@item.Id" hidden />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-1">@item.DiagnosticTest.Title</h6>
                                                </div>
                                                <span class="text-muted">@item.DiagnosticTest.UnitPrice.ToString() Credits</span>
                                            </li>
                                        }
                                        <li class="list-group-item d-flex justify-content-between">
                                            <small class="text-muted">Total: (Credits)</small>
                                            <strong class="text-muted">@Model.TestHeader.TotalAmount.ToString() Credits</strong>
                                        </li>
                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="PaymentStatus" class="form-label mt-4" required></label>
                                            </div>
                                            <div class="col-8 mt-3 mb-4">
                                                <select asp-for="PaymentStatus" class="form-control" required>
                                                    <option disabled selected>Choose your option</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-8 pt-2">
                        </div>
                        @if (Model.TestCartList.Count == 0)
                        {
                            <div class="col-12 col-md-4">
                                <button type="submit" class="btn btn-primary form-control" disabled>Place Order</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-md-4">
                                <button type="submit" class="btn btn-primary form-control">Place Order</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
