@using Silverline.Core.Constants;
@using Microsoft.AspNetCore.Identity;
@using Silverline.Application.Interfaces.Services;

@inject IAppUserService UserService
@inject IPatientService PatientService
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Silverline</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Silverline.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/adminlte.min.css">
	<link rel="stylesheet" href="~/css/all.min.css">
	<link rel="shortcut icon" href="~/favicon.png" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#" role="button">
						@if (SignInManager.IsSignedIn(User))
						{
							@if (User.IsInRole(Constants.Patient))
							{
								var user = UserManager.GetUserAsync(User).Result.UserName;
								var credits = PatientService.GetCredits(user);
								<p href="#" class="d-block">@credits Credits &nbsp; <i class="fas fa-coins"></i></p>
							}
						}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-widget="navbar-search" href="#" role="button">
						<i class="fas fa-search"></i>
					</a>
					<div class="navbar-search-block">
						<form class="form-inline">
							<div class="input-group input-group-sm">
								<input class="form-control form-control-navbar" type="search" placeholder="Search"
									aria-label="Search">
								<div class="input-group-append">
									<button class="btn btn-navbar" type="submit">
										<i class="fas fa-search"></i>
									</button>
									<button class="btn btn-navbar" type="button" data-widget="navbar-search">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-widget="fullscreen" href="#" role="button">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
						<i class="fas fa-th-large"></i>
					</a>
				</li>
				<li class="nav-item">
					<form id="logoutForm" class="form-inline text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button id="logout" type="submit" class="nav-link btn btn-link text-dark">Log Out</button>
					</form>
				</li>
			</ul>
		</nav>

		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<a asp-controller="Home" asp-action="Index" class="brand-link">
				<img src="~/favicon.png" alt="Silverline" class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">Silverline</span>
			</a>

			<div class="sidebar">
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					@{
						var username = UserManager.GetUserAsync(User).Result.UserName;
						var name = UserService.GetUserName(username);
						var image = UserService.GetImage(username);
					}
					<div class="image">
						<img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(image))">
					</div>
					<div class="info">
						<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="d-block">@name</a>
					</div>
				</div>

				<div class="form-inline">
					<div class="input-group" data-widget="sidebar-search">
						<input class="form-control form-control-sidebar" type="search" placeholder="Search"
							aria-label="Search">
						<div class="input-group-append">
							<button class="btn btn-sidebar">
								<i class="fas fa-search fa-fw"></i>
							</button>
						</div>
					</div>
				</div>

				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
						data-accordion="false">
						@if(User.IsInRole(Constants.Admin))
						{
							<li class="nav-item">
								<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link active">
									&nbsp; <i class="fa-solid fa-house"></i>
									<p>
										 &nbsp; Home
									</p>
								</a>
							</li>
							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-users"></i>
									<p>
										&nbsp; Users
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Patient" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Patients</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Doctor" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Doctors</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Pharmacist" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Pharmacists</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="LabTechnician" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Lab Technicians</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-calendar-check"></i>
									<p>
										&nbsp; &nbsp; Approvals
										<span class="right badge badge-danger">New</span>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Approval" asp-action="Doctor" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Doctors</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Approval" asp-action="Pharmacist" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Pharmacists</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Approval" asp-action="LabTechnician" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Lab Technicians</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a asp-area="Admin" asp-controller="Specialty" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-hand-holding-medical"></i>
									<p>
										&nbsp; &nbsp; Specialties
									</p>
								</a>
							</li>
							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-vials"></i>
									<p>
										&nbsp; &nbsp; Diagnostics
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="TestType" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Type</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Test" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Lab Tests</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-capsules"></i>
									<p>
										&nbsp; &nbsp; Medications
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Manufacturer" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Manufacturer</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Category</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Admin" asp-controller="Medicine" asp-action="Index" class="nav-link">
											<i class="far fa-circle nav-icon"></i>
											<p>Drugs</p>
										</a>
									</li>
								</ul>
							</li>
						}
						@if(User.IsInRole(Constants.Patient))
						{
							<li class="nav-item">
								<a asp-area="Patient" asp-controller="Home" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-home"></i>
									<p>
										&nbsp; &nbsp; Home
									</p>
								</a>
							</li>

							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-calendar-check"></i>
									<p>
										&nbsp; &nbsp; Appointments
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Patient" asp-controller="Appointment" asp-action="Index" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; New 
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Patient" asp-controller="Appointment" asp-action="Booking" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; Bookings
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Patient" asp-controller="Appointment" asp-action="History" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; History
											</p>
										</a>
									</li>
								</ul>
							</li>
							
							<li class="nav-item">
								<a asp-area="Patient" asp-controller="Appointment" asp-action="MedicalRecords" class="nav-link">
									&nbsp; <i class="fas fa-file-medical"></i>
									<p>
										&nbsp; &nbsp; Medical Records
									</p>
								</a>
							</li>

							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
										&nbsp; <i class="fa-solid fa-notes-medical"></i>
									<p>
										&nbsp; &nbsp; Treatments
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="Patient" asp-controller="Appointment" asp-action="Index" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; Medications 
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Patient" asp-controller="Appointment" asp-action="Booking" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; Laboratory Diagnosis
											</p>
										</a>
									</li>
								</ul>
							</li>

							<li class="nav-item">
								<a asp-area="Patient" asp-controller="LabTest" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-vial"></i>
									<p>
										&nbsp; &nbsp; Lab Tests
									</p>
								</a>
							</li>

							<li class="nav-item">
								<a asp-area="Patient" asp-controller="Cart" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-cart-plus"></i>
									<p>
										&nbsp; &nbsp; Carts
									</p>
								</a>
							</li>
						}
						@if(User.IsInRole(Constants.Doctor))
						{
							<li class="nav-item">
								<a asp-area="Doctor" asp-controller="Home" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-clinic-medical"></i>
									<p>
										&nbsp; &nbsp; Home
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a asp-area="Doctor" asp-controller="Appointment" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-user-md"></i>
									<p>
										&nbsp; &nbsp; Appointments
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a asp-area="Doctor" asp-controller="Patient" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-hospital-user"></i>
									<p>
										&nbsp; &nbsp; My Patients
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a asp-area="Doctor" asp-controller="Medicine" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-tablets"></i>
									<p>
										&nbsp; &nbsp; Medications
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a asp-area="Doctor" asp-controller="LabTest" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-flask"></i>
									<p>
										&nbsp; &nbsp; Laboratory Diagnosis
									</p>
								</a>
							</li>
						}
						@if(User.IsInRole(Constants.LabTechnician))
						{
							<li class="nav-item">
								<a asp-area="LabTechnician" asp-controller="Home" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-clinic-medical"></i>
									<p>
										&nbsp; &nbsp; Home
									</p>
								</a>
							</li>

							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
										&nbsp; <i class="fas fa-vials"></i>
									<p>
										&nbsp; &nbsp; Diagnosis
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a asp-area="LabTechnician" asp-controller="Diagnosis" asp-action="Diagnosis" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; Appointed 
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="LabTechnician" asp-controller="Diagnosis" asp-action="Requested" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
													&nbsp; Requested 
											</p>
										</a>
									</li>
									<li class="nav-item">
											<a asp-area="LabTechnician" asp-controller="Diagnosis" asp-action="History" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; History
											</p>
										</a>
									</li>
								</ul>
							</li>
						}
						@if(User.IsInRole(Constants.Pharmacist))
						{
							<li class="nav-item">
									<a asp-area="Pharmacist" asp-controller="Home" asp-action="Index" class="nav-link">
									&nbsp; <i class="fas fa-clinic-medical"></i>
									<p>
										&nbsp; &nbsp; Home
									</p>
								</a>
							</li>

							<li class="nav-item menu-close">
								<a href="#" class="nav-link">
									&nbsp; <i class="fas fa-pills"></i>
									<p>
										&nbsp; &nbsp; Prescriptions
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
											<a asp-area="Pharmacist" asp-controller="Prescription" asp-action="Diagnosis" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; Appointed 
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a asp-area="Pharmacist" asp-controller="Prescription" asp-action="History" class="nav-link">
											<p>
												<i class="far fa-circle nav-icon"></i>
												&nbsp; History
											</p>
										</a>
									</li>
								</ul>
							</li>
						}
					</ul>
				</nav>
			</div>
		</aside>

		<div class="content-wrapper" style="width:auto;">
			@RenderBody()
		</div>

		<aside class="control-sidebar control-sidebar-dark">
			<div class="p-3">
				<h5>Silverline</h5>
				<p>Sidebar Content</p>
			</div>
		</aside>

		<footer class="main-footer">
			<div class="float-right d-none d-sm-inline">
				Finest Health Services
			</div>
			<strong>Copyright &copy; 2023 <a href="https://adminlte.io">Silverline.io</a>.</strong> All rights reserved.
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/adminlte.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://kit.fontawesome.com/1c1a57d0d0.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
	<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.tiny.cloud/1/gt87d8xmi9qqycaz7hv57wuyzd7nlsjusj1zcf8hu8hyve0q/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	@await Component.InvokeAsync("Notyf") 
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>