@using Silverline.Core.Constants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Silverline.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Silverline</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Constants.Admin))
                        {
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturer" asp-action="Index">Manufacturer</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Medicine" asp-action="Index">Medicine</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="TestType" asp-action="Index">Test Type</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Test" asp-action="Index">Diagnostic Test</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Specialty" asp-action="Index">Specialty</a>
                            </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Patient" asp-action="Index">Patients</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Doctor" asp-action="Index">Doctors</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Pharmacist" asp-action="Index">Pharmacists</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="LabTechnician" asp-action="Index">Lab Technician</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Approvals</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Approval" asp-action="Doctor">Doctors</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Approval" asp-action="Pharmacist">Pharmacists</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Approval" asp-action="LabTechnician">Lab Technician</a>
                                </div>
                            </li>
                        }
                        @if(User.IsInRole(Constants.Patient)){
                            <a class="navbar-brand" asp-area="Patient" asp-controller="Appointment" asp-action="Index">Doctors</a>
                            <a class="navbar-brand" asp-area="Patient" asp-controller="Appointment" asp-action="Appointments">Appointments</a>
                            <a class="navbar-brand" asp-area="Patient" asp-controller="Appointment" asp-action="MedicalRecords">Medical Records</a>
                        }
                        @if (User.IsInRole(Constants.Doctor))
                        {
                            <a class="navbar-brand" asp-area="Doctor" asp-controller="Appointment" asp-action="Index">Appointments</a>
                            <a class="navbar-brand" asp-area="Doctor" asp-controller="Appointment" asp-action="Index">Appointments</a>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Silverline - <a asp-area="Admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/1c1a57d0d0.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/gt87d8xmi9qqycaz7hv57wuyzd7nlsjusj1zcf8hu8hyve0q/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
