@page
@model SignInModel

@{
    ViewData["Title"] = "Patient Registration";
}

<h1>@ViewData["Title"]</h1>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" enctype = "multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Input.FullName" class="form-label mt-4"></label>
                <input asp-for="Input.FullName" class="form-control mb-2" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.FullName" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="form-label mt-4"></label>
                <input asp-for="Input.Email" class="form-control mb-2" autocomplete="username" aria-required="true" placeholder="Enter your email address"/>
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span asp-validation-for="Input.Email" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="form-label mt-4"></label>
                <input asp-for="Input.PhoneNumber" class="form-control mb-2" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="form-label mt-4"></label>
                <input asp-for="Input.Password" class="form-control" id="passcode" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="form-label mt-4"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger mt-3"></span>
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" onclick="showpassword(this);">
                <label class="form-check-label">Show Password</label>
                <script type="text/javascript">
                    function showpassword(check_box) {
                        var code = document.getElementById("passcode");
                        var confirm = document.getElementById("password");
                        if (check_box.checked) {
                            code.setAttribute("type", "text");
                            confirm.setAttribute("type", "text");
                        }
                        else{
                            code.setAttribute("type", "password");
                            confirm.setAttribute("type", "password");
                        }
                    }
                </script>
            </div>
            <div class="form-group">
                <label asp-for="Input.ProfileImage" class="form-label mt-4"></label>
                <input asp-for="Input.ProfileImage" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif,.tif">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Input.DateOfBirth" class="form-label mt-4"></label>
                <input asp-for="Input.DateOfBirth" class="form-control mb-2" autocomplete="username" aria-required="true"/>
                <small class="form-text text-muted">Your date of birth will stay confidential too.</small>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street" class="form-label mt-4"></label>
                <input asp-for="Input.Street" class="form-control mb-2" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Street" class="text-danger mt-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address" class="form-label mt-4"></label>
                <input asp-for="Input.Address" class="form-control mb-2" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Address" class="text-danger mt-3"></span>
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-4">Register</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
