@page
@model RegisterConfirmationModel

@{
	Layout = null;

	var title = "";
	var action = "";

	if(Model.User == "User")
	{
		ViewData["Title"] = "Register Confirmation";
		title = "Please check your email to confirm your account";
	}
	else
	{
		ViewData["Title"] = "Request Confirmation";
		title = "Your request has been notified to the system.";
		action = "Please wait for a few business days for your confirmation.";
	}
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="~/css/all.min.css">
	<link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/adminlte.min.css">
	<link rel="stylesheet" href="~/css/daterangepicker.css">
	<link rel="stylesheet" href="~/css//tempusdominus-bootstrap-4.min.css">
	<link rel="shortcut icon" href="~/favicon.png" />
</head>

<partial name="_Notification" />

<body class="hold-transition register-page">
	<div class="register-box w-75">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="#" class="h1">@ViewData["Title"]</a>
			</div>
			<div class="card-body text-center">
				@title
				@action
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/adminlte.min.js"></script>
	<script src="~/js/bs-custom-file-input.min.js"></script>
	<script src="~/js/inputmask.min.js"></script>
	<script src="~/js/jquery.inputmask.min.js"></script>
	<script src="https://kit.fontawesome.com/1c1a57d0d0.js"></script>
	<script>
		$(function () {
			$('[data-mask]').inputmask()
		});
	</script>
</body>
</html>

