@model List<Silverline.Core.ViewModels.DoctorViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="pt-2 ml-4 pl-3">
    <h1>Doctors Index</h1>
</div>

<partial name="_Notification" />

<div class="container-fluid" style="width: 95%">
    <div class="row pb-3">
        @foreach (var @item in Model)
        { 
            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border: 1px solid black; border-radius: 5px;">
                        <div class="container-item">
                            <img id="profilePicture" style="width:275px;height:400px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.ProfileImage))">
                        </div>
                        <div class="col">
                            <div class="row p-lg-2">
                                <p class="card-title h4 text-dark">@item.Name</p>
                            </div>
                            <div class="row p-lg-2">
                                <small><b>@item.Specialty</b></small>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Book" class="btn btn-dark form-control" asp-route-id="@item.DoctorId">
                                Book Appointment
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


