@model IEnumerable<Silverline.Core.ViewModels.DoctorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>View all doctors index</h1>

<div class="row pb-3">
    @foreach (var item in Model)
    { 
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border: 1px solid black; border-radius: 5px;">
                    <div class="container-item">
                        <img id="profilePicture" style="width:300px;height:400px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.ProfileImage))">
                    </div>
                    <div>
                        <div class="p-lg-3">
                            <p class="card-title h5 text-primary">@item.Name</p>
                            <p class="card-title text-info">@item.HighestMedicalDegree</p>
                        </div>
                        <div class="ps-3">
                            <p>Department: <b>@item.Specialty</b></p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


